
.lyric-section {
  text-align: center;
  display: grid;
}

.lyric-title {
  margin-bottom: 40px;
  text-shadow: 0px 0px 25px #a8f9ee;
}

.lyric-song {
  font-family: cursive;
  font-size: large;
  border-collapse:separate; 
  border-spacing: 0 0.5em;
}

