.results-section {
  min-width: 100% !important;
}

.results-title {
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 0px 0px 25px #a8f9ee;
}

.particular-feeling {
  display: inline-grid;
  text-align: center;
  text-shadow: 0px 0px 25px var(--color);
}

.player-info{
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #FFF;
  width: 100%;
}
