
.feeling-section {
  text-align: center;
  display: grid;
}

.feeling-title {
  padding-bottom: 20px;
  padding-top: 40px;
  text-shadow: 0px 0px 25px #91bff2;
  width: 100vw;
}

.particular-feeling {
  display: inline-grid;
  text-align: center;
  text-shadow: 0px 0px 25px var(--color);
}
