
.feeling-section {
  text-align: center;
  display: grid;
}

.feeling-title {
    margin-bottom: 40px;
    text-shadow: 0px 0px 25px #a8f9ee;
}

.particular-feeling {
  display: inline-grid;
  text-align: center;
  text-shadow: 0px 0px 25px var(--color);
}
