<div id="search" class="row animated fadeInUp">
  <form #mySearchForm="ngForm" id="buscador" class="buscador col-12 pl-0 pr-0" (ngSubmit)="search()" [formGroup]="searchForm">
    <iaw-logo></iaw-logo>

    <div class="data content-form mt-4 text-center">
      <div class="data-input-layout">
        <mat-form-field>
          <input matInput class="form-control dataInput" type="text" tabindex="1" name="artist"
            formControlName="artist" placeholder="Artista o Banda" autocomplete="on">
          <mat-error>Debe ingresar un artista o banda</mat-error>
        </mat-form-field>
      </div>

      <div class="data-input-layout">
        <mat-form-field>
          <input matInput class="form-control dataInput" type="text" tabindex="2" name="song"
            formControlName="song" placeholder="Título de una canción" autocomplete="on">
          <mat-error>Debe ingresar el título de una canción</mat-error>
        </mat-form-field>
      </div>
    </div>

    <button class="search" tabindex="3" (click)="onClickSearch()">
      <i class="far fa-search mr-2"></i>
      <span>Buscar emociones</span>
    </button>

    <div *ngIf="error" class="data col-12 text-danger">
      La canción no existe o su letra no está disponible
    </div>

    <div *ngIf="isSearching" class="col-12 text-center mt-2">
      <iaw-loading></iaw-loading>
    </div>
  </form>
</div>

<!-- Angular notifier -->
<notifier-container></notifier-container>

<div class="clearfix"></div>

<nav *ngIf="song && song.emotion" id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
  <div class="container">
    <a class="navbar-brand" (click)="reset()"><img src="/assets/logo/logo-2.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="btn-nav btn btn-light text-dark" href="#feelings">Emociones</a>
          <a class="btn-nav btn btn-light text-dark" href="#player">Reproductor</a>
          <a class="btn-nav btn btn-light text-dark" href="#lyrics">Letra</a>
          <a class="btn-nav btn btn-outline-light" (click)="reset()">Nueva búsqueda</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="clearfix"></div>

<div id="results" class="row results-section float-left">
  <iaw-results [isSearching]="isSearching" [song]="song"></iaw-results>
</div>

<div class="clearfix"></div>

<button class="arrow d-none animated backInDown" (click)="scrollToTop()">
  <i class="fas fa-arrow-up"></i>
</button>
