<div class="row">
  <form class="buscador col-12 pl-0 pr-0" (submit)="search()" [formGroup]="searchForm"> <!-- *ngIf="!song || (song && !song.emotion)"  -->
    <iaw-logo></iaw-logo>

    <div class="data content-form mt-4 text-center">
      <div class="data-input-layout">
        <mat-form-field>
          <input matInput class="form-control dataInput" type="text" value="cerati"  tabindex="1" name="artist" formControlName="artist"
            placeholder="Artista o Banda" autocomplete="on">
          <mat-error>Debe ingresar un artista o banda</mat-error>
        </mat-form-field>
      </div>

      <div class="data-input-layout">
        <mat-form-field>
          <input matInput class="form-control dataInput" type="text" value="crimen" tabindex="2" name="song" formControlName="song"
            placeholder="Título de una canción" autocomplete="on">
          <mat-error>Debe ingresar el título de una canción</mat-error>
        </mat-form-field>
      </div>
    </div>

    <button class="search" tabindex="3">
      <i class="far fa-search mr-2"></i>
      <span>Buscar emociones</span>
    </button>


    <div *ngIf="error" class="data col-12 text-danger">
        La canción no existe o su letra no está disponible
    </div>

  </form>
</div>

<div id="results" class="row results-section">
  <iaw-results [isSearching]="isSearching" [song]="song"></iaw-results>
</div>
