@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$altura : 43px;

.buscador {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-wrap      : wrap;
  margin         : 30px 0;
  flex-direction : column;
  min-height     : 92vh;
  overflow: hidden;
}

.data {
  display        : flex;
  flex-direction : row;
  justify-content: center;
}

.data-input-layout {
  display   : inline-block;
  text-align: center;
}

.form-control:focus {
  border-color: rbga(0, 0, 0, 0) !important;
  box-shadow  : 0 1px 1px rgba(0, 0, 0, 0) !important;
}

/*

.data-input {
  text-align: center;
  width     : 300px;
  box-shadow: 50px 5px 10px rgba(0, 0, 0, 0.05);
  outline   : 0;
  height    : $altura;
}
input[name="artist"] {
  border-radius     : 50px 0 0 50px;
  border-right-width: 0px;
  padding-left      : 25px;
}

input[name="song"] {
  border-radius: 0 50px 50px 0;
  padding-left : 15px;
}*/

.search {
  background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
  background-color: #f8f9fa;
  border          : 1px solid #f8f9fa;
  border-radius   : 4px;
  color           : #3c4043;
  font-family     : arial, sans-serif;
  font-size       : 14px;
  margin          : 45px 4px;
  padding         : 0 16px;
  line-height     : 27px;
  height          : 36px;
  min-width       : 54px;
  text-align      : center;
  cursor          : pointer;
  user-select     : none;
  font-family     : 'Montserrat', sans-serif;
  box-shadow      : 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.search:hover {
  box-shadow      : 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
  background-color: #f8f9fa;
  border          : 1px solid #dadce0;
  color           : #202124;
  transition      : 0.5s;
}

.search span {
  font-size: 16px;
}

.navbar-brand {
  max-height: 100px;
}

.btn-nav {
  margin-left: 5px;
  border-radius: 10px !important;
}

.arrow{
  background-color: white;
  padding: 10px;
  border: solid 1px rgba(17, 17, 17, 0.438);
  border-radius: 50%;
  color: #111;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  --width: 54px;
  width: var(--width);
  height: var(--width);
  text-align: center;
}


.fixed-top{
  transition: 0.5s;
}

.padding-top{
  padding-top: 90px;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {

  .data {
    width          : 90%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
  }

  .mat-form-field {
    width: 260px !important;
  }

  .btn-nav {
    width: 100%;
    margin-top: 15px;
  }

  .arrow{
    background-color: white;
    padding: 8px;
    border: solid 1px rgba(17, 17, 17, 0.438);
    border-radius: 50%;
    color: #111;
    position: fixed;
    bottom: 8px;
    right: 8px;
    font-size: 30px;
    width: var(--width, 50px);
    height: --width;
    text-align: center;
  }

}

@media only screen and (max-width: 576px) {}
